.post-detail img {
  width: 800px;
}

.post-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
}

.list {
  margin-top: 20px;
}

.comment-container{
  width: 800px;
}
@media (max-width: 768px) {
  .comment-container{
    width: 90%;
  }
  .post-detail img {
    width: 100%;
  }
}