.category-title {
  text-decoration: none;
  color: var( --dark-blue)
}

.category-card img {
  width: 800px;
  height: 500px;
}

@media (max-width: 768px) {

  .category-card img{
    width: 355px;
    height: 200px;
   }
  
  }