.post-categories {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.category-title {
  text-align: center;
}

.category-card img {
  width: 500px;
  height: 250px;
  object-fit: cover;
}

@media (max-width: 768px) {
 .category-card img{
  width: 100vw;
 }
}