.comment-list li {
  list-style: none;
  border: 1px solid var(--dark-blue);
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.comment-list {
  margin-top: 90px;
}

.info-user > img{
  width: 28px;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 2px;
}

.info-user > span{
  text-decoration: none;
  color: var(--turquesa)
}

.btn{
  margin-left: auto;
}
.btn button{
  background: none;
  border: none;
  color: var(--turquesa);
}

.card-list {
  background-color: #f1f1f185;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--turquesa);
  margin-bottom: 15px;
}