:root {
  --dark-blue: #2d3142;
  --orange: #f18016;
  --gray: #4f5d75;
  --turquesa: #4cb5ae;
}

body {
  color: var(--dark-blue);
font-style: italic;
}
html {
  min-height: 100%;
  position: relative;
}
.App:last-child{
  margin-bottom: 180px;
}

.empty-list {
  height: 500px;
  margin: auto;
  color: #5e5656;
  display: flex;
  align-items: center;
}